<div
  class="korrekturhilfe-card mt-40 rounded-3xl border border-gray-400 p-6 xl:mt-96 xl:p-20"
>
  <div class="grid-cols-2 gap-32 xl:grid">
    <a href="https://odin-memory-game-lemon.vercel.app/">
      <img
        src="../../../../assets/memoryGame.png"
        class="col-span-1 row-span-full row-start-1 rounded-xl mb-10 xl:mb-0"
        alt="screenshot"
        /></a>
    <div class="col-start-2 row-start-1 flex flex-col gap-4 xl:gap-10">
      <h3 class="text-4xl xl:text-left">Memory Game</h3>
      <div class="transparent border border-neutral-500 p-4 text-left">
        Simple memory game from the Odin project built with React
        <span class="inline-block"
          ><img
            class="relative top-2"
            src="../assets/icons/icons8-react-native-48.png"
            width="30"
            alt="react logo"
        /></span>
        Deployed on Vercel.
      </div>
      <a
        class="order-first self-center xl:order-none"
        href="https://github.com/Davidcode2/OdinMemoryGame"
      >
        <img
          src="../../../../assets/github-mark.svg"
          alt="github logo"
          width="100"
          class="cursror-pointer hover:opacity-80"
        />
      </a>
      <div class="flex flex-col gap-4 xl:flex-row">
        <div class="transparent rounded-lg border border-neutral-500 p-4">
          <div class="flex">
            <div>Repository:</div>
            <a href="https://github.com/Davidcode2/OdinMemoryGame"
              ><div class="ml-2 text-pink-500">MemoryGame</div></a
            >
          </div>
        </div>
        <div class="transparent rounded-lg border border-neutral-500 p-4">
          <div class="flex">
            <div>Status:</div>
            <div class="ml-2 text-green-500"><a href="https://odin-memory-game-lemon.vercel.app/">Deployed</a></div>
          </div>
        </div>
        <div class="transparent rounded-lg border border-neutral-500 p-4">
          <div class="flex">
            <div>Tools:</div>
            <div class="ml-2 text-blue-500">React</div>
            <div class="ml-2 text-purple-500">Vercel</div>
            <div class="ml-2 text-fuchsia-500">Tailwindcss</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
