<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    class="abel-regular bg-gradient-to-bl from-slate-900 to-slate-950 text-center text-stone-100"
  >
    <main class="">
      <div class="p-4 xl:px-32">
        <div>
          <app-hero-container></app-hero-container>
          <app-timeline id="timeline"></app-timeline>
        </div>
      </div>

      <div class="overflow-x-hidden">
        <div id="projects" class="mt-72 overflow-x-hidden py-10 xl:mt-80 md:mb-24">
          <img
            class="overflow-visible"
            src="../assets/ProjectText.svg"
            alt="Projects header"
          />
        </div>
      </div>
      <div class="p-4 xl:px-32">
        <app-project></app-project>
        <app-schluesselmomente-project></app-schluesselmomente-project>
        <app-korrekturhilfe-project></app-korrekturhilfe-project>
        <app-portfolio-project></app-portfolio-project>
      </div>
    </main>
    <app-footer></app-footer>
  </body>
</html>
