<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    class="abel-regular bg-gradient-to-bl from-slate-900 to-slate-950 text-center text-stone-100"
  >
    <main class="xl:px-32 p-4">
      <div>
        <app-hero-container></app-hero-container>
        <app-timeline></app-timeline>
        <h2
          class="mt-52 bg-gradient-to-r from-stone-100 to-violet-500 bg-clip-text py-10 xl:text-9xl font-extrabold text-transparent"
        >
          Projects
        </h2>
        <app-project></app-project>
        <app-schluesselmomente-project></app-schluesselmomente-project>
        <section class="py-48">
          <h2
            class="bg-gradient-to-r from-stone-100 to-violet-500 bg-clip-text py-36 text-9xl font-extrabold text-transparent"
          >
            Skills
          </h2>
          <div class="m-10 flex gap-10 overflow-clip">
            <div
              class="shadow:md w-full rounded-lg border border-stone-800 bg-gradient-to-tr from-stone-800 to-stone-950 p-20 shadow-emerald-500"
            >
              <img src="assets/angular-logo.svg" class="object-cover" alt="" />
            </div>
            <div
              class="shadow:md w-full rounded-lg border border-stone-800 bg-gradient-to-tr from-stone-800 to-stone-950 p-20 shadow-emerald-500"
            >
              <img
                src="assets/tailwind-css-logos-variant-formats-1/tailwind-css-logos-idfGwMXiln.svg"
                alt=""
              />
            </div>
            <div
              class="shadow:md w-full rounded-lg border border-stone-800 bg-gradient-to-tr from-stone-800 to-stone-950 p-20 shadow-emerald-500"
            >
              <img
                src="assets/tailwind-css-logos-variant-formats-1/tailwind-css-logos-idfGwMXiln.svg"
                alt=""
              />
            </div>
            <div
              class="shadow:md w-full rounded-lg border border-stone-800 bg-gradient-to-tr from-stone-800 to-stone-950 p-20 shadow-emerald-500"
            >
              <img
                src="assets/tailwind-css-logos-variant-formats-1/tailwind-css-logos-idfGwMXiln.svg"
                alt=""
              />
            </div>
          </div>
        </section>
        <section class="grid grid-cols-2 justify-start pb-20">
          <h2
            class="justify-self-start bg-gradient-to-r from-stone-100 to-violet-500 bg-clip-text text-9xl font-extrabold text-transparent"
          >
            Growth Mindset
          </h2>
          <div>
            <p class="text-left text-xl leading-10">
              Lorem ipsum dolor sit amet, officia excepteur ex fugiat
              reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit
              ex esse exercitation amet. Nisi anim cupidatat excepteur officia.
              Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet
              voluptate voluptate dolor minim nulla est proident. Nostrud
              officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex
              occaecat reprehenderit commodo officia dolor Lorem duis laboris
              cupidatat officia voluptate. Culpa proident adipisicing id nulla
              nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua
              reprehenderit commodo ex non excepteur duis sunt velit enim.
              Voluptate laboris sint cupidatat ullamco ut ea consectetur et est
              culpa et culpa duis.
            </p>
          </div>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
