<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
      class="abel-regular text-stone-100 text-center bg-gradient-to-bl from-slate-900 to-slate-950"
      >
      <main class="px-32">
        <div>
          <app-hero-container></app-hero-container>
          <section class="slide-wrapper">
          <button
              class="onScroll my-24 px-12 py-4 rounded-md bg-gradient-to-r from-red-300 to-blue-500 border border-stone-100 shadow-md shadow-purple-800"
              >
              Contact Me
          </button></section>
            <section class="py-48">
              <h2
                  class="py-36 text-9xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-stone-100 to-violet-500"
                  >
                  Skills
              </h2>
                <div class="m-10 flex gap-10">
                  <div
                      class="p-20 w-full border border-stone-800 rounded-lg bg-gradient-to-tr from-stone-800 to-stone-950 shadow:md shadow-emerald-500"
                      >
                      <img src="assets/angular-logo.svg" class="object-cover" alt="" />
                  </div>
                    <div
                        class="p-20 w-full border border-stone-800 rounded-lg bg-gradient-to-tr from-stone-800 to-stone-950 shadow:md shadow-emerald-500"
                        >
                        <img
                            src="assets/tailwind-css-logos-variant-formats-1/tailwind-css-logos-idfGwMXiln.svg"
                            alt=""
                            />
                    </div>
                      <div
                          class="p-20 w-full border border-stone-800 rounded-lg bg-gradient-to-tr from-stone-800 to-stone-950 shadow:md shadow-emerald-500"
                          >
                          <img
                              src="assets/tailwind-css-logos-variant-formats-1/tailwind-css-logos-idfGwMXiln.svg"
                              alt=""
                              />
                      </div>
                        <div
                            class="p-20 w-full border border-stone-800 rounded-lg bg-gradient-to-tr from-stone-800 to-stone-950 shadow:md shadow-emerald-500"
                            >
                            <img
                                src="assets/tailwind-css-logos-variant-formats-1/tailwind-css-logos-idfGwMXiln.svg"
                                alt=""
                                />
                        </div>
                </div>
            </section>
            <section class="grid grid-cols-2 pb-20 justify-start">
              <h2
                  class="text-9xl justify-self-start font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-stone-100 to-violet-500"
                  >
                  Growth Mindset
              </h2>
                <div>
                  <p class="text-left text-xl leading-10">
                  Lorem ipsum dolor sit amet, officia excepteur ex fugiat
                  reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit
                  ex esse exercitation amet. Nisi anim cupidatat excepteur officia.
                  Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet
                  voluptate voluptate dolor minim nulla est proident. Nostrud
                  officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex
                  occaecat reprehenderit commodo officia dolor Lorem duis laboris
                  cupidatat officia voluptate. Culpa proident adipisicing id nulla
                  nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua
                  reprehenderit commodo ex non excepteur duis sunt velit enim.
                  Voluptate laboris sint cupidatat ullamco ut ea consectetur et est
                  culpa et culpa duis.
                  </p>
                </div>
            </section>
        </div>
      </main>
      <footer></footer>
  </body>
</html>
