<header class="slide-in hidden-animation -mt-10 flex justify-center xl:-mt-20">
  <nav class="flex">
    <ul class="flex items-center gap-10 text-sm font-bold text-stone-100/80">
      <li><a href="#timeline">CV</a></li>
      <li>
        <a
          href="https://www.linkedin.com/in/jakob-lingel-613976253/"
          target="_blank"
          >LinkedIn</a
        >
      </li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="https://jakob-lingel.dev">Blog</a></li>
    </ul>
  </nav>
</header>
