.card:nth-child(1) {
  top: 100px;
}

.card:nth-child(2) {
  top: -590px;
  transform: scale(0.98);
}
.card:nth-child(3) {
  top: -1280px;
  transform: scale(0.96);
}
.card:nth-child(4) {
  top: -1970px;
  transform: scale(0.94);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.transparent {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(11, 18, 105, 0.17);
  color: whitesmoke;
}
