@media (max-width: 1900px) {
  .card:nth-child(2) {
    top: -43em;
  }
  .card:nth-child(3) {
    top: -86em;
  }
  .card:nth-child(4) {
    top: -129em;
  }
}

@media (min-width: 2200px) {
  .card:nth-child(2) {
    top: -56em;
  }
  .card:nth-child(3) {
    top: -112em;
  }
  .card:nth-child(4) {
    top: -168em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transparent {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(11, 18, 105, 0.17);
  color: whitesmoke;
}
