<div class="relative cardTrigger mt-52">
  <div class="card z-50 shadow-md">
    <div
      class="grid grid-cols-9 grid-rows-5 rounded-3xl bg-vrGame1 bg-cover bg-no-repeat"
    >
      <div class="col-start-5 row-start-3 text-6xl font-bold">VR Shooter</div>
      <div
        class="status col-span-2 col-start-1 row-start-5 m-4 rounded-lg border border-neutral-600 bg-neutral-700/80 p-4"
      >
        <div class="flyInText flex">
          <div>Status:</div>
          <div class="ml-2 text-green-500">Prototype</div>
        </div>
        <div class="flyInText flex">
          <div>Tools:</div>
          <div class="ml-2 text-blue-500">C#</div>
          <div class="ml-2 text-purple-500">Unity</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card z-40 shadow-md">
    <div
      class="grid grid-cols-9 grid-rows-5 rounded-3xl bg-vrGame3 bg-cover bg-no-repeat"
    >
      <div class="col-start-5 row-start-3 text-6xl font-bold">VR Shooter</div>
      <div
        class="status col-span-2 col-start-1 row-start-5 m-4 rounded-lg border border-neutral-600 bg-neutral-700/80 p-4"
      >
        <div class="flyInText flex">
          <div>Status:</div>
          <div class="ml-2 text-green-500">Prototype</div>
        </div>
        <div class="flyInText flex">
          <div>Tools:</div>
          <div class="ml-2 text-blue-500">C#</div>
          <div class="ml-2 text-purple-500">Unity</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card z-30 shadow-md">
    <div
      class="grid grid-cols-9 grid-rows-5 rounded-3xl bg-vrGame4 bg-cover bg-no-repeat"
    >
      <div class="col-start-5 row-start-3 text-6xl font-bold">VR Shooter</div>
      <div
        class="status col-span-2 col-start-1 row-start-5 m-4 rounded-lg border border-neutral-600 bg-neutral-700/80 p-4"
      >
        <div class="flyInText flex">
          <div>Status:</div>
          <div class="ml-2 text-green-500">Prototype</div>
        </div>
        <div class="flyInText flex">
          <div>Tools:</div>
          <div class="ml-2 text-blue-500">C#</div>
          <div class="ml-2 text-purple-500">Unity</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="trigger relative">
  <div class="card z-30 bg-blue-200 p-20 py-52">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nobis,
    accusamus ex, earum sapiente eos deserunt cupiditate laborum amet dolorum
    doloribus aliquam quibusdam atque sunt. Labore consequuntur numquam libero
    dolores.
  </div>
  <div class="card z-20 bg-blue-400 p-20 py-52">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nobis,
    accusamus ex, earum sapiente eos deserunt cupiditate laborum amet dolorum
    doloribus aliquam quibusdam atque sunt. Labore consequuntur numquam libero
    dolores.
  </div>
  <div class="card z-10 bg-blue-500 p-20 py-52">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque nobis,
    accusamus ex, earum sapiente eos deserunt cupiditate laborum amet dolorum
    doloribus aliquam quibusdam atque sunt. Labore consequuntur numquam libero
    dolores.
  </div>
</div>
-->
