<div
  class="schluesselmomente-card relative top-20 z-50 rounded-3xl border border-gray-400 p-4 xl:p-20"
>
  <div class="trigger">
    <div class="grid grid-cols-12 grid-rows-7">
      <img
        class="schluesselmomente-main-image col-start-2 col-end-12 row-span-full row-start-2 rounded-xl"
        src="../../../../assets/schluesselmomente-screenshot.png"
        alt="Screenshot Schluesselmomente Website"
      />
      <img
        data-speed="60"
        class="parallax col-span-2 col-start-4 row-span-4 row-start-5 rounded-xl shadow-lg xl:row-start-4 xl:mt-32"
        src="../../../../assets/schluesselmomente-mobile-beraterin.png"
        alt="Screenshot Schluesselmomente Website"
      />
      <img
        data-speed="80"
        class="parallax z-30 col-start-10 row-span-3 row-start-1 rounded-xl shadow-xl"
        src="../../../../assets/colorscheme_schluesselmomente.png"
        alt="Screenshot Schluesselmomente Website"
      />
      <img
        data-speed="20"
        class="parallax col-span-4 col-start-10 row-span-2 row-start-6 rounded-xl shadow-lg"
        src="../../../../assets/schluesselmomente-cutout.png"
        alt="Screenshot Schluesselmomente Website"
      />
      <img
        data-speed="40"
        class="parallax col-span-2 col-start-1 row-span-3 row-start-3 rounded-xl shadow-lg"
        src="../../../../assets/schluesselmomente-kontakt.png"
        alt="Screenshot Schluesselmomente Website"
      />
    </div>
    <div class="grid grid-cols-12"></div>
  </div>
  <app-project [project]="project"></app-project>
</div>
