<footer
  class="grid-cols-3 bg-linear-to-t from-slate-900 to-slate-950 p-4 py-72 text-left text-sm xl:px-32 2xl:grid"
>
  <ul>
    <li><a href="https://github.com/Davidcode2/">DavidCode2</a></li>
    <li><div class="inline bg-stone-100">interesting</div></li>
    <li class="inline bg-stone-100">wow</li>
    <li><div class="inline bg-stone-100">make this interesting</div></li>
    <li><div class="inline bg-stone-100">fake footer</div></li>
    <li>Informatik B.Sc.</li>
    <li class="inline bg-stone-100">
      A lot of text right here to make this longer
    </li>
  </ul>
  <ul>
    <li class="inline bg-stone-100">Wow such secret</li>
    <li>
      <div class="inline bg-stone-100">Bet you wonder what this is</div>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jakob-lingel-613976253/">Hire me</a>
    </li>
    <li><div class="inline bg-stone-100">interesting</div></li>
    <li class="inline bg-stone-100">wow</li>
    <li><div class="inline bg-stone-100">make this interesting</div></li>
    <li><div class="inline bg-stone-100">fake footer</div></li>
    <li class="inline bg-stone-100">Super Secret Stuff here</li>
  </ul>
  <ul>
    <li class="inline bg-stone-100">Wow such secret</li>
    <li>
      <div class="inline bg-stone-100">Bet you wonder what this is</div>
    </li>
    <li><div class="inline bg-stone-100">interesting</div></li>
    <li class="inline bg-stone-100">wow</li>
    <li><div class="inline bg-stone-100">make this interesting</div></li>
    <li><div class="inline bg-stone-100">fake footer</div></li>
    <li>est. 2024</li>
  </ul>
</footer>
