<div
  class="grid grid-cols-[20px_1fr] grid-rows-[.9fr_.7fr_1fr_1fr] xl:gap-10 xl:grid-cols-[10px_1fr]"
>
  <ul class="col-start-1 row-span-full grid grid-rows-subgrid gap-0">
    <li class="w-1 bg-stone-100">
      <div
        class="relative bottom-1 right-[0.4rem] z-30 h-4 w-4 rounded-full bg-stone-100"
      ></div>
    </li>
    <li class="w-1 bg-stone-100">
      <div
        class="relative right-[0.4rem] z-30 h-4 w-4 rounded-full bg-stone-100"
      ></div>
    </li>
    <li class="w-1 bg-stone-100">
      <div
        class="relative right-[0.4rem] z-30 h-4 w-4 rounded-full bg-stone-100"
      ></div>
    </li>
    <li class="w-1 bg-stone-100">
      <div
        class="relative right-[0.4rem] z-30 h-4 w-4 rounded-full bg-stone-100"
      ></div>
    </li>
    <li class="w-1 bg-stone-100">
      <div
        class="relative right-[0.4rem] z-30 h-4 w-4 rounded-full bg-stone-100"
      ></div>
    </li>
  </ul>
    <div class="">
      <div class="mb-5 text-left relative bottom-2">February 2024</div>
      <div class="grid gap-1 xl:grid-cols-[200px_1fr] xl:gap-4">
        <div class="sticky top-5 col-start-1 row-span-full">
          <div class="transparent rounded-lg p-4">
            <img
              src="../.../../assets/Zeiss_logo.svg"
              alt="Zeiss logo"
              width="50"
            />
          </div>
        </div>
        <div class="transparent text-left text-4xl font-extrabold">
          Carl Zeiss Semiconductor Manufacturing Technology
        </div>
        <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
          <div class="flex">
            <div class="rounded-lg border border-purple-500/40 p-2 text-left">
              Role:
            </div>
            <div class="rounded-lg p-2 text-left">Thesis student</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
              Task:
            </div>
            <div class="rounded-lg p-2 text-left">Web development</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
              Where:
            </div>
            <div class="rounded-lg p-2 text-left">Oberkochen, Germany</div>
          </div>
        </div>
        <div class="col-start-2 flex flex-col gap-5">
          <div class="transparent">
            <ul class="flex flex-col gap-5 text-left">
              <li>
                Design, implementation, and release of a web application for the
                analysis, evaluation, and presentation of measurement results
              </li>
              <li>Implementation using Angular, .NET, and Kubernetes.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="relative xl:bottom-6 bottom-1 mb-5 text-left">September 2023</div>
      <div class="grid gap-4 xl:grid-cols-[200px_1fr]">
        <div class="sticky top-5 col-start-1">
          <div class="transparent rounded-lg p-4">
            <img
              src="../.../../assets/Zeiss_logo.svg"
              alt="Zeiss logo"
              width="50"
            />
          </div>
        </div>
        <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
          <div class="flex">
            <div class="rounded-lg border border-purple-500/40 p-2 text-left">
              Role:
            </div>
            <div class="rounded-lg p-2 text-left">Working Student</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
              Task:
            </div>
            <div class="rounded-lg p-2 text-left">Web development</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
              Where:
            </div>
            <div class="rounded-lg p-2 text-left">Oberkochen, Germany</div>
          </div>
        </div>
        <div class="col-start-2 flex flex-col gap-5">
          <div class="transparent">
            <ul class="flex flex-col gap-5 text-left">
              <li>
                Support in the development of a web application for data
                acquisition
              </li>
              <li>
                Development of an Azure DevOps Pipeline Decorator for automated
                detection of outdated NuGet packages
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="relative xl:bottom-6 bottom-1 mb-5 text-left">March 2023</div>
      <div class="grid gap-4 xl:grid-cols-[200px_1fr]">
        <div class="sticky top-5 col-start-1 row-span-full">
          <div class="transparent rounded-lg p-4">
            <img src="../.../../assets/bosch-seeklogo.svg" alt="Bosch logo" />
          </div>
        </div>
        <div class="transparent text-left text-4xl font-extrabold">
          Robert Bosch Manufacturing Solutions GmbH
        </div>
        <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
          <div class="flex">
            <div class="rounded-lg border border-purple-500/40 p-2 text-left">
              Role:
            </div>
            <div class="rounded-lg p-2 text-left">Intern</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
              Task:
            </div>
            <div class="rounded-lg p-2 text-left">Web development</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
              Where:
            </div>
            <div class="rounded-lg p-2 text-left">Stuttgart, Germany</div>
          </div>
        </div>
        <div class="col-start-2 flex flex-col gap-5">
          <div class="transparent">
            <ul class="flex flex-col gap-5 text-left">
              <li>Creation of dynamic input forms from JSON files</li>
              <li>
                Design and implementation of a web application for project data
                management using .NET and Angular
              </li>
              <li>
                Implementation of filter functionality using data from MongoDB
                and MySQL databases
              </li>
              <li>
                Collaboration on additional web applications using Angular and
                NodeJS
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="relative xl:bottom-6 bottom-1 mb-5 text-left">October 2022</div>
      <div class="grid gap-4 xl:grid-cols-[200px_1fr]">
        <div class="sticky top-5 col-start-1 row-span-full">
          <div class="transparent rounded-lg p-4">
            <img
              src="../.../../assets/Zeiss_logo.svg"
              alt="Zeiss logo"
              width="50"
            />
          </div>
        </div>
        <div class="transparent text-left text-4xl font-extrabold">
          Carl Zeiss Industrial Quality Solutions GmbH
        </div>
        <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
          <div class="flex">
            <div class="rounded-lg border border-purple-500/40 p-2 text-left">
              Role:
            </div>
            <div class="rounded-lg p-2 text-left">Working Student</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
              Task:
            </div>
            <div class="rounded-lg p-2 text-left">Web development</div>
          </div>
          <div class="flex">
            <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
              Where:
            </div>
            <div class="rounded-lg p-2 text-left">Stuttgart, Germany</div>
          </div>
        </div>
        <div class="col-start-2 flex flex-col gap-5">
          <div class="transparent">
            <ul class="flex flex-col gap-5 text-left">
              <li>Write python scripts to speed up deployment tasks</li>
              <li>
                Enable sensor data transfer via Bluetooth Low Energy and Web
                Sockets.
              </li>
              <li>
                Implementation of filter functionality using data from MongoDB
                and MySQL databases
              </li>
              <li>
                Create reusable component to transform and forward data between
                sensor backends.
              </li>
              <li>Deploy apps on Linux and Windows machines using docker.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="relative top-4 text-left">May 2021</div>
    </div>
</div>
