<div class="grid grid-cols-[10px_1fr] grid-rows-10 gap-10">
  <ul class="col-start-1 row-span-full grid grid-rows-subgrid gap-0">
    <li class="w-2 bg-stone-100">
      <div
        class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
      ></div>
    </li>
    <li class="w-2 bg-stone-100">
      <div
        class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
      ></div>
    </li>
    <li class="w-2 bg-stone-100">
        <div
          class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
        ></div>
    </li>
    <li>
      <div class="w-2 bg-stone-100">
        <div
          class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
        ></div>
      </div>
    </li>
    <li>
      <div class="w-2 bg-stone-100">
        <div
          class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
        ></div>
      </div>
    </li>
    <li>
      <div class="w-2 bg-stone-100">
        <div
          class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
        ></div>
      </div>
    </li>
    <li>
      <div class="w-2 bg-stone-100">
        <div
          class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
        ></div>
      </div>
    </li>
    <li>
      <div class="w-2 bg-stone-100">
        <div
          class="relative right-3 z-30 h-8 w-8 rounded-full bg-stone-100"
        ></div>
      </div>
    </li>
  </ul>
  <div class="">
    <div class="mb-5 text-left">February 2024</div>
    <div class="grid grid-cols-[200px_1fr] gap-4">
      <div class="sticky top-5 col-start-1 row-span-full">
        <div class="transparent rounded-lg p-4">
          <img src="../.../../assets/Zeiss_logo.svg" alt="Zeiss logo" width="50" />
        </div>
      </div>
      <div class="transparent text-4xl font-extrabold">
        Carl Zeiss Semiconductor Manufacturing Technology
      </div>
      <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
        <div class="flex">
          <div class="rounded-lg border border-purple-500/40 p-2 text-left">
            Role:
          </div>
          <div class="rounded-lg p-2 text-left">Thesis student</div>
        </div>
        <div class="flex">
          <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
            Task:
          </div>
          <div class="rounded-lg p-2 text-left">Web development</div>
        </div>
        <div class="flex">
          <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
            Where:
          </div>
          <div class="rounded-lg p-2 text-left">Oberkochen, Germany</div>
        </div>
      </div>
      <div class="col-start-2 flex flex-col gap-5">
        <div class="transparent">
          <ul class="flex flex-col gap-5 text-left">
            <li>
              Design, implementation, and release of a web application for the
              analysis, evaluation, and presentation of measurement results
            </li>
            <li>Implementation using Angular, .NET, and Kubernetes.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div>
    <div class="relative bottom-4 mb-5 text-left">October 2022</div>
    <div class="grid grid-cols-[200px_1fr] gap-4">
      <div class="sticky top-5 col-start-1 row-span-full">
        <div class="transparent rounded-lg p-4">
          <img src="../.../../assets/bosch-seeklogo.svg" alt="Bosch logo" />
        </div>
      </div>
      <div class="transparent text-4xl font-extrabold">
        Robert Bosch Manufacturing Solutions GmbH
      </div>
      <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
        <div class="flex">
          <div class="rounded-lg border border-purple-500/40 p-2 text-left">
            Role:
          </div>
          <div class="rounded-lg p-2 text-left">Intern</div>
        </div>
        <div class="flex">
          <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
            Task:
          </div>
          <div class="rounded-lg p-2 text-left">Web development</div>
        </div>
        <div class="flex">
          <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
            Where:
          </div>
          <div class="rounded-lg p-2 text-left">Stuttgart, Germany</div>
        </div>
      </div>
      <div class="col-start-2 flex flex-col gap-5">
        <div class="transparent">
          <ul class="flex flex-col gap-5 text-left">
            <li>Creation of dynamic input forms from JSON files</li>
            <li>
              Design and implementation of a web application for project data
              management using .NET and Angular
            </li>
            <li>
              Implementation of filter functionality using data from MongoDB and
              MySQL databases
            </li>
            <li>
              Collaboration on additional web applications using Angular and
              NodeJS
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="relative bottom-4 mb-5 text-left">October 2022</div>
    <div class="grid grid-cols-[200px_1fr] gap-4">
      <div class="sticky top-5 col-start-1 row-span-full">
        <div class="transparent rounded-lg p-4">
          <img src="../.../../assets/bosch-seeklogo.svg" alt="Bosch logo" />
        </div>
      </div>
      <div class="transparent text-4xl font-extrabold">
        Robert Bosch Manufacturing Solutions GmbH
      </div>
      <div class="transparent col-start-2 flex flex-col gap-2 rounded-lg p-4">
        <div class="flex">
          <div class="rounded-lg border border-purple-500/40 p-2 text-left">
            Role:
          </div>
          <div class="rounded-lg p-2 text-left">Intern</div>
        </div>
        <div class="flex">
          <div class="rounded-lg border border-emerald-500/40 p-2 text-left">
            Task:
          </div>
          <div class="rounded-lg p-2 text-left">Web development</div>
        </div>
        <div class="flex">
          <div class="rounded-lg border border-fuchsia-500/40 p-2 text-left">
            Where:
          </div>
          <div class="rounded-lg p-2 text-left">Stuttgart, Germany</div>
        </div>
      </div>
      <div class="col-start-2 flex flex-col gap-5">
        <div class="transparent">
          <ul class="flex flex-col gap-5 text-left">
            <li>Creation of dynamic input forms from JSON files</li>
            <li>
              Design and implementation of a web application for project data
              management using .NET and Angular
            </li>
            <li>
              Implementation of filter functionality using data from MongoDB and
              MySQL databases
            </li>
            <li>
              Collaboration on additional web applications using Angular and
              NodeJS
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
