<div class="container ">
  <div
      class="card slide-in transparent z-30 justify-center self-center p-20 border border-stone-800 rounded-lg bg-gradient-to-tr from-stone-800 to-stone-950 shadow:md shadow-emerald-500"
      >
      <h2 class="name text-2xl text-stone-200 font-bold">
        Jakob Lingel
      </h2>
    <h3 class="occupation text-5xl font-extrabold text-stone-100">
      Fullstack Software Developer
    </h3>
    <p class="skills text-stone-200 font-semibold">Always growing</p>
  </div>
</div>
