<div class="mt-80 grid grid-cols-[20px_1fr]">
  <div class="z-10" id="spinContainer">
    <div
      data-speed="80"
      class="parallaxBox rocketShip2 w-fit rounded-xl bg-emerald-500 p-10 text-4xl"
    ></div>
    <div
      data-speed="20"
      class="parallaxBox rocketShip1 relative left-96 hidden w-fit rounded-lg bg-fuchsia-500 p-16 text-4xl 2xl:block"
    ></div>
    <div
      data-speed="60"
      class="parallaxBox relative bottom-60 left-[65vw] hidden w-fit rounded-xl bg-emerald-400 p-10 text-4xl 2xl:block"
    ></div>
    <div
      data-speed="40"
      class="parallaxBox rocketShip2 relative bottom-20 left-[50vw] hidden w-fit rounded-2xl bg-purple-500 p-10 text-4xl 2xl:block"
    ></div>
    <div
      data-speed="10"
      class="parallaxBox rocketShip relative bottom-32 left-[70vw] w-fit rounded-lg bg-violet-800 p-2 text-4xl 2xl:p-10"
    >
      Hire me
    </div>
  </div>
  <section id="thispage" class="z-40 justify-start rounded-3xl p-4 pb-20 text-4xl">
    <div class="grid grid-rows-3 gap-20">
      <div
        class="transparent portfolioInfo row-start-1 self-center rounded-lg border border-gray-400 p-4 xl:p-20"
      >
        <p>
          built using Angular
          <span class="inline-block"
            ><img
              class="relative top-1"
              src="../../../assets/icons/icons8-angular-24.png"
              width="30"
              alt="Angular logo"
          /></span>
        </p>
      </div>
      <div
        class="transparent portfolioInfo col-span-full row-start-2 self-center rounded-lg border border-gray-400 p-4 xl:p-20"
      >
        <p>
          styled with Tailwindcss
          <span class="inline-block"
            ><img
              class="relative top-2"
              src="../assets/icons/icons8-tailwindcss-48.png"
              width="30"
              alt="Tailwindcss logo"
          /></span>
        </p>
      </div>
      <div
        class="transparent portfolioInfo col-span-full row-start-3 rounded-lg border border-gray-400 p-4 xl:p-20"
      >
        <p>
          animated with GSAP
          <span class="inline-block"
            ><img
              class="relative top-2"
              src="../assets/gsap.png"
              width="30"
              alt="GSAP logo"
          /></span>
        </p>
      </div>
      <div
        class="transparent portfolioInfo col-span-full row-start-4 rounded-lg border border-gray-400 p-4 xl:p-20"
      >
        <p>
          icons from
          <a target="_blank" href="https://icons8.com">Icons8.com</a>
          <span class="inline-block"
            ><img
              class="relative left-2 top-1"
              src="../assets/icons8logo.svg"
              width="25"
              alt="icons8 logo"
          /></span>
        </p>
      </div>
      <div
        class="transparent portfolioInfo col-span-full row-start-5 rounded-lg border border-gray-400 p-4 xl:p-20"
      >
        <p>
          deployed on Railway.app
          <span class="inline-block"
            ><img
              class="relative top-1"
              src="../assets/railway.svg"
              width="30"
              alt="railway app logo"
          /></span>
        </p>
      </div>
    </div>
  </section>
</div>
